@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white dark:bg-gray-700 rounded p-5 shadow;
  }
  .html-description a {
    @apply text-blue-600 hover:underline;
  }
}

html {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}
