@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.DEFAULT");
    padding: theme("spacing.5");
    box-shadow: theme("boxShadow.DEFAULT");
  }
}
